* text=auto eol=lf

*.kicad_pro   text eol=lf
*.kicad_sch   text eol=lf
*.kicad_pcb   text eol=lf
*.kicad_sym   text eol=lf
*.kicad_mod   text eol=lf
*-lib-table   text eol=lf linguist-language=Lisp

*.step binary
*.stp  binary
*.wrl  binary
*.pdf  binary
*.png  binary
